{{#partial "content"}}

<div class="container">
    <h3 class="center">Welcome to the 2018 hack-a-thon!</h3>

    <div class="row">
        <div class="col-sm-6">
            {{#if team}}
                <ul class="list-group">
                    {{#each team}}
                        <li class="list-group-item">
                            <p>Team Name</p>
                            <p><a href="/team/{{id}}">{{teamName}}</a></p>
                            <p>{{teamDescription}} description</p>
                        </li>
                   {{/each}}
                </ul>
            {{else}}
                <p>There are no teams yet.</p>
            {{/if}}

        </div>
        <div>
            <a href="/team/new">Add Team</a>
        </div>
    </div>


</div>


{{/partial}}

{{> layout.hbs}}