<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Hack-a-thon{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css" type="text/css">
</head>
<body>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <h1>&lt;hack&gt;2018&lt;/hack&gt;</h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}