{{#partial "content"}}
    {{#if editTeam}}
        <h1>Edit {{editTeam.teamName}}</h1>
        <form action="/team/{{editTeam.id}}/update" method="POST">
            <label for="teamName">Change Team Name</label><br>
            <input type="text" id="teamName" name="teamName"><br>
            <label for="teamMembers">Add another Team Member</label><br>
            <input type="text" id="teamMembers" name="teamMembers"><br>
            <button class="btn btn-success" type="submit">Update</button>
        </form>
    {{/if}}
{{/partial}}

{{> layout.hbs}}